/* Đặt các @font-face ở đầu file */

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/SFMonoRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'New York ExtraLarge';
    src: url('/fonts/new-york-extra-large/NewYorkExtraLargeRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mackay';
    src: url('/fonts/Mackay/Rene Bieder - Mackay DEMO Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harriet';
    src: url('/fonts/Harriet-text/HARRIETTEXTREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque';
    src: url('/fonts/BasisGrotesque/BasisGrotesqueArabicPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nokia Cellphone FC';
    src: url('/fonts/nokia-cellphone/nokiafc22.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEaves';
    src: url('/fonts/Mrs_Eaves/Mrs-Eaves-OT-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sf Pro Ultra Thin';
    src: url('/fonts/sf-pro-display/SF-Pro-Display-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'New York Small';
    src: url('/fonts/new-york-extra-large/NewYorkSmall-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Sử dụng font-family trong class */
.font-mono {
    font-family: 'SF Mono', monospace;
}

.font-sf-pro {
    font-family: 'SF Pro', sans-serif;
}

.font-new-york {
    font-family: 'New York ExtraLarge', serif;
}

.font-playfair-display {
    font-family: "Playfair Display", serif;
}

.font-mackay {
    font-family: 'Mackay', serif;
    font-weight: bold;
}

.font-harriet {
    font-family: 'Harriet', serif;
}

.font-basis-grotesque {
    font-family: 'Basis Grotesque', sans-serif;
}

.font-nokia {
    font-family: 'Nokia Cellphone FC', sans-serif;
}

.font-mrs-eaves {
    font-family: 'MrsEaves', serif;
}

.font-sf-pro-ultra-thin {
    font-family: 'Sf Pro Ultra Thin', sans-serif;
    font-weight: 200;
}

.font-new-york-small {
    font-family: 'New York Small', serif;
}